/* Change Notice: lowercasing for compatibility with XHTML */
/* Change Notice: element names to lowercase: BODY, TABLE */
/* Change Notice: property names to lowercase: FONT-SIZE, BACKGROUND, FONT-FAMILY, Font-Weight, FONT-STYLE, FONT-SIZE */


.Keyword {
  font-size: 12pt
}
body.for-print {
  font-size: 12pt; background: white; margin: 1.5em
}
div.Abstract, div.Acknowledgments {
  margin-top: 1em
}
div.AbstractSection {
  margin-top: 0.3em
}
p.AuthorGroup {
  font-weight: bold
}
.Contact, .Affiliation, .Citation {
  font-size: 10pt; font-family: Arial, Helvetica, sans-serif;
}
div.Capt {
  font-size: 10pt; margin-top: 1.5em; margin-bottom: 1.5em;  font-family: Arial, Helvetica, sans-serif
}
span.CaptCont, tbody.CaptCont {
  font-size: 10pt; font-family: Arial, Helvetica, sans-serif
}
div.CaptCont {
  font-size: 10pt; margin-top: 0.3em; font-family: Arial, Helvetica, sans-serif
}
.AbstractHeading, .KeywordHeading, .ArticleNoteHeading, .Acknowledgmentsheading, .CaptNr, div.SbLexicon {
  font-weight: bold
}
table.Sidebar {
  background: #d6d6d6; font-family: Arial, Helvetica, sans-serif
}
.Term, .AbstractSectionHeading {
  font-style: italic
}
table.OrderedList{
  font-size: 12pt; margin-left: 17pt; margin-bottom: 1em; margin-top: 1em; padding: 0.3em
}
div.ListPara, div.AbstractPara, div.AcknowSimplePara, div.GlossaryDefSimplePara {
  margin-top:0.3em
}
div.GlossaryDefSimplePara {
  margin-left: 1.5em; margin-top: 0.3em
}
div.Para, div.FormalPara, div.ArticleNote {
  margin-top: 1em; margin-bottom: 1em
}
div.Motto {
  margin-top: 1em; margin-bottom: 1em; text-align: right
}
div.Figure {
  margin-top: 1.5em; margin-bottom: 1em
}
.PCode {
  font-family: 'Courier New'
}
.Box {
  border-color: black; border-width: 2px; border-style: solid; padding: 0.5em
}
.Important {
  border-color: black; border-width: 2px; border-style: solid; padding: 0.5em; background: #d6d6d6
}
.Example {
  border-left: black 4px; border-left-style: solid; padding: 0.5em
}
.Trailer {
  font-weight: bold; padding: 0.5em
}
.Source {
  font-style: italic
}
.LegalText {
  font-weight: bold; text-align: left
}
div.GlossaryEntry {
  text-indent: -1.5em; margin-left: 1.5em
}
table.Stack {
  font-size:0.5em
}
